In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('Enero.csv',sep='delimiter', header=None)

C:\Users\David Guarin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [4]:
df.head()

                                                   0
0  ï»¿FECH;ADUA;PAIS;COD_PAI4;COD_SAL1;COD_SAL;DP...
1  1901;1;249;USA;0;AXM;68;7;249;1;198;1;8;2;2710...
2  1901;1;924;XCF;0;AXM;25;3;169;1;198;1;8;2;2208...
3  1901;3;013;AFG;3;BOG;11;4;249;1;199;1;8;2;7007...
4  1901;3;023;DEU;3;BOG;5;4;23;1;198;1;8;1;803901...