In [30]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns 
#from pydataset import data
from scipy.stats import chi2
from scipy.stats import chi2_contingency
from CHAID import Tree
from scipy.cluster.hierarchy import dendrogram
import xlwt
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction import DictVectorizer
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
import pandas_profiling
from sklearn.model_selection import train_test_split

In [31]:
df = pd.read_csv('titanic.csv')

In [32]:
df.head()

   Unnamed: 0      class     age  sex survived
0           1  1st class  adults  man      yes
1           2  1st class  adults  man      yes
2           3  1st class  adults  man      yes
3           4  1st class  adults  man      yes
4           5  1st class  adults  man      yes

In [33]:
print('hay', str(len(df)), 'datos obtenidos.')
print('')
print('valores para class: ', df['class'].unique())
print('')
print('valores para age: ',df['age'].unique())
print('')
print('valores para sex: ',df['sex'].unique())
print('')
print('valores para survived: ',df['survived'].unique())

hay 1316 datos obtenidos.

valores para class:  ['1st class' '2nd class' '3rd class']

valores para age:  ['adults' 'child']

valores para sex:  ['man' 'women']

valores para survived:  ['yes' 'no']

In [34]:
pd.crosstab(index=df['survived'],
            columns=[df['class'],df['age'],df['sex']],margins=True)

class    1st class                   2nd class                   3rd class  \
age         adults       child          adults       child          adults
sex            man women   man women       man women   man women       man
survived
no             118     4     0     0       154    13     0     0       387
yes             57   140     5     1        14    80    11    13        75
All            175   144     5     1       168    93    11    13       462

class                        All
age            child
sex      women   man women
survived
no          89    35    17   817
yes         76    13    14   499
All        165    48    31  1316

Se realiz√≥ la tabla de contingencia con multiples variables

Se revisa a continuaci√≥n la calidad de la informaci√≥n

In [35]:
def missing_values_table(df): 
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum()/len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        return mis_val_table_ren_columns

missing_values_table(df)

**Se realiza tabla de contingencia con la variable clase y survived, mas la prueba de chi cuadrado**

In [36]:
Tabla_clase = pd.crosstab(index=df['survived'],
            columns=[df['class']],margins=True)
Tabla_clase.index= ["yes","no","Total"]
Tabla_clase

class  1st class  2nd class  3rd class   All
yes          122        167        528   817
no           203        118        178   499
Total        325        285        706  1316

In [37]:
chi2_contingency(Tabla_clase)

(133.05203598610018,
 2.9249941496115534e-26,
 6,
 array([[ 201.76671733,  176.93389058,  438.2993921 ,  817.        ],
        [ 123.23328267,  108.06610942,  267.7006079 ,  499.        ],
        [ 325.        ,  285.        ,  706.        , 1316.        ]]))

In [38]:
print('Valor Chi-2', str(chi2_contingency(Tabla_clase)[0]), 'p-value', str(chi2_contingency(Tabla_clase)[1]))

Valor Chi-2 133.05203598610018 p-value 2.9249941496115534e-26

**Se realiza tabla de contingencia con la variable edad y survived, mas la prueba de chi cuadrado**

In [39]:
Tabla_edad = pd.crosstab(index=df['survived'],
            columns=[df['age']],margins=True)
Tabla_edad.index= ["yes","no","Total"]
Tabla_edad

age    adults  child   All
yes       765     52   817
no        442     57   499
Total    1207    109  1316

In [40]:
chi2_contingency(Tabla_edad)

(10.433234374362144,
 0.03372920198971611,
 4,
 array([[ 749.33054711,   67.66945289,  817.        ],
        [ 457.66945289,   41.33054711,  499.        ],
        [1207.        ,  109.        , 1316.        ]]))

In [41]:
print('Valor Chi-2', str(chi2_contingency(Tabla_edad)[0]), 'p-value', str(chi2_contingency(Tabla_edad)[1]))

Valor Chi-2 10.433234374362144 p-value 0.03372920198971611

**Se realiza tabla de contingencia con la variable sex y survived, mas la prueba de chi cuadrado**

In [42]:
Tabla_sexo = pd.crosstab(index=df['survived'],
            columns=[df['sex']],margins=True)
Tabla_sexo.index= ["yes","no","Total"]
Tabla_sexo

sex    man  women   All
yes    694    123   817
no     175    324   499
Total  869    447  1316

In [43]:
chi2_contingency(Tabla_sexo)

(343.5683748952206,
 4.291205455004174e-73,
 4,
 array([[ 539.49316109,  277.50683891,  817.        ],
        [ 329.50683891,  169.49316109,  499.        ],
        [ 869.        ,  447.        , 1316.        ]]))

In [44]:
print('Valor Chi-2', str(chi2_contingency(Tabla_sexo)[0]), 'p-value', str(chi2_contingency(Tabla_sexo)[1]))

Valor Chi-2 343.5683748952206 p-value 4.291205455004174e-73

**La variable dependiente es la variable survived, y sus categor√≠as son s√≠ y no**

**Las variables independientes son sex, class y age. Para sex, las categor√≠as son hombre, mujer, para class las categor√≠as son 1era clase, 2da clase y 3ra clase. Por √∫ltimo, para age, las categor√≠as son adulto y ni√±o**

**Se realiza a continuaci√≥n la misma prueba con la variable clase, pero esta vez sin tener en cuenta la primera clase**

In [45]:
df_par1=df[df['class']!='1st class']

In [46]:
Tabla_clase_1 = pd.crosstab(index=df_par1['survived'],
            columns=[df_par1['class']])
Tabla_clase_1.index= ["No","S√≠"]
Tabla_clase_1

class  2nd class  3rd class
No           167        528
S√≠           118        178

In [47]:
chi2_contingency(Tabla_clase_1)

(24.642455652387003,
 6.901440123134889e-07,
 1,
 array([[199.87386478, 495.12613522],
        [ 85.12613522, 210.87386478]]))

In [48]:
print('Valor Chi-1', str(chi2_contingency(Tabla_clase_1)[0]), 'p-value', str(chi2_contingency(Tabla_clase_1)[1]))

Valor Chi-1 24.642455652387003 p-value 6.901440123134889e-07

**Se realiza a continuaci√≥n la misma prueba con la variable clase, pero esta vez sin tener en cuenta la segunda clase**

In [49]:
df_par2=df[df['class']!='2nd class']

In [50]:
Tabla_clase_2 = pd.crosstab(index=df_par1['survived'],
            columns=[df_par2['class']])
Tabla_clase_2.index= ["No","S√≠"]
Tabla_clase_2

class  3rd class
No           528
S√≠           178

In [51]:
chi2_contingency(Tabla_clase_2)

(0.0, 1.0, 0, array([[528.],
        [178.]]))

In [52]:
print('Valor Chi-1', str(chi2_contingency(Tabla_clase_2)[0]), 'p-value', str(chi2_contingency(Tabla_clase_2)[1]))

Valor Chi-1 0.0 p-value 1.0

**Se realiza a continuaci√≥n la misma prueba con la variable clase, pero esta vez sin tener en cuenta la tercera clase**

In [53]:
df_par3=df[df['class']!='3rd class']

In [54]:
df_par3.head()

   Unnamed: 0      class     age  sex survived
0           1  1st class  adults  man      yes
1           2  1st class  adults  man      yes
2           3  1st class  adults  man      yes
3           4  1st class  adults  man      yes
4           5  1st class  adults  man      yes

In [55]:
Tabla_clase_3 = pd.crosstab(index=df_par1['survived'],
            columns=[df_par3['class']])
Tabla_clase_3.index= ["No","S√≠"]
Tabla_clase_3

class  2nd class
No           167
S√≠           118

In [56]:
chi2_contingency(Tabla_clase_3)

(0.0, 1.0, 0, array([[167.],
        [118.]]))

In [57]:
print('Valor Chi-1', str(chi2_contingency(Tabla_clase_3)[0]), 'p-value', str(chi2_contingency(Tabla_clase_3)[1]))

Valor Chi-1 0.0 p-value 1.0

**La prueba chi cuadrado entre la variable survived y clase primera - segunda clase (excluyendo la tercera) obtuvo el p-valor m√°s alto, y el estad√≠stico de prueba m√°s bajo.**

In [58]:
df2 = df.replace(to_replace=['1st class','2nd class'],value='1st-2nd class')

In [59]:
df2.head()

   Unnamed: 0          class     age  sex survived
0           1  1st-2nd class  adults  man      yes
1           2  1st-2nd class  adults  man      yes
2           3  1st-2nd class  adults  man      yes
3           4  1st-2nd class  adults  man      yes
4           5  1st-2nd class  adults  man      yes

In [60]:
Tabla_clase_4 = pd.crosstab(index=df2['survived'],
            columns=[df2['class']],margins=True)
Tabla_clase_4.index= ["No","S√≠","Total"]
Tabla_clase_4

class  1st-2nd class  3rd class   All
No               289        528   817
S√≠               321        178   499
Total            610        706  1316

In [61]:
chi2_contingency(Tabla_clase_4)

(104.44828229154874,
 1.110330680653495e-21,
 4,
 array([[ 378.7006079,  438.2993921,  817.       ],
        [ 231.2993921,  267.7006079,  499.       ],
        [ 610.       ,  706.       , 1316.       ]]))

In [62]:
print('Valor Chi-1', str(chi2_contingency(Tabla_clase_4)[0]), 'p-value', str(chi2_contingency(Tabla_clase_4)[1]))

Valor Chi-1 104.44828229154874 p-value 1.110330680653495e-21

La variable sexo es la m√°s significativa (el estad√≠stico de prueba es m√°s grande y el p-valor es menor a 0,05)

In [63]:
independent_variable_columns = ['age', 'class', 'sex']
independent_variable_columns

['age', 'class', 'sex']

In [64]:
dep_variable = ['survived']
dep_variable

['survived']

In [65]:
arbol2=Tree.from_pandas_df(df, dict(zip(independent_variable_columns, ['nominal'] * 3)), dep_variable).to_tree()

In [66]:
arbol2.show()

([], {'no': 817.0, 'yes': 499.0}, (sex, p=1.0659916015697211e-76, score=343.5683748952206, groups=[['man'], ['women']]), dof=1))
‚îú‚îÄ‚îÄ (['man'], {'no': 694.0, 'yes': 175.0}, (class, p=7.65402627362462e-08, score=28.891698180661038, groups=[['1st class'], ['2nd class', '3rd class']]), dof=1))
‚îÇ   ‚îú‚îÄ‚îÄ (['1st class'], {'no': 118.0, 'yes': 62.0}, <Invalid Chaid Split> - the max depth has been reached)
‚îÇ   ‚îî‚îÄ‚îÄ (['2nd class', '3rd class'], {'no': 576.0, 'yes': 113.0}, <Invalid Chaid Split> - the max depth has been reached)
‚îî‚îÄ‚îÄ (['women'], {'no': 123.0, 'yes': 324.0}, (class, p=3.799847801639209e-28, score=126.27484318020652, groups=[['1st class'], ['2nd class'], ['3rd class']]), dof=2))
    ‚îú‚îÄ‚îÄ (['1st class'], {'no': 4.0, 'yes': 141.0}, <Invalid Chaid Split> - the max depth has been reached)
    ‚îú‚îÄ‚îÄ (['2nd class'], {'no': 13.0, 'yes': 93.0}, <Invalid Chaid Split> - the max depth has been reached)
    ‚îî‚îÄ‚îÄ (['3rd class'], {'no': 106.0, 'yes': 90.0}, <Invalid Chaid Split> - the max depth has been reached)

In [67]:
pandas_profiling.ProfileReport(df)

**Categorizar Variables**

|Variable|Categoria| Informacion Adicional|
|---|---|---|
|age (edad)|Categorica (Binaria) | Los valores de edad son dos adults (adultos) y child (ni√±o/hijo). Se nota que hay una gran cantidad que son adultos se podria decir que es del 91.72 porciento y los child son del 8.28 porciento.|
|class (clase) | Categorica| Hay tres categorias: estas son 3rd class, 1st class y 2nd class. Estas son las divisiones de cada clase donde se puede ver que hay mas personas en tercera clase que en primera y segunda.|
|sex| Categorca (Binaria)| Hay dos categorias: man (hombre) y women(mujer) donde el hombre es el 66 porciento y las mujeres son como el 33.3 porciento|
|survived|Categorica (Binaria)| Hay dos categorias no y yes (si) diciendo que mas del 50 porciento murio en esta tragedia|

Como hay un mayor numero de adultos que de ni√±os esto podria afectar los valores se aconseja mirar esta relaciones entre ambos para determinar como esto afecta los resultados o si no afectan.

In [70]:
X = df[['age','class','sex']]
y = df['survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
train = pd.DataFrame()

In [71]:
train['age'] = X_train['age'].values
train['sex'] = X_train['sex'].values
train['class'] = X_train['class'].values
train['survived'] = y_train.values
print(train.head())

      age    sex      class survived
0   child    man  3rd class       no
1  adults    man  2nd class       no
2  adults    man  3rd class       no
3  adults  women  3rd class      yes
4  adults  women  3rd class      yes

In [72]:
arbol3=Tree.from_pandas_df(df, dict(zip(independent_variable_columns, ['nominal'] * 3)), dep_variable).to_tree()

In [74]:
arbol3.show()

([], {'no': 817.0, 'yes': 499.0}, (sex, p=1.0659916015697211e-76, score=343.5683748952206, groups=[['man'], ['women']]), dof=1))
‚îú‚îÄ‚îÄ (['man'], {'no': 694.0, 'yes': 175.0}, (class, p=7.65402627362462e-08, score=28.891698180661038, groups=[['1st class'], ['2nd class', '3rd class']]), dof=1))
‚îÇ   ‚îú‚îÄ‚îÄ (['1st class'], {'no': 118.0, 'yes': 62.0}, <Invalid Chaid Split> - the max depth has been reached)
‚îÇ   ‚îî‚îÄ‚îÄ (['2nd class', '3rd class'], {'no': 576.0, 'yes': 113.0}, <Invalid Chaid Split> - the max depth has been reached)
‚îî‚îÄ‚îÄ (['women'], {'no': 123.0, 'yes': 324.0}, (class, p=3.799847801639209e-28, score=126.27484318020652, groups=[['1st class'], ['2nd class'], ['3rd class']]), dof=2))
    ‚îú‚îÄ‚îÄ (['1st class'], {'no': 4.0, 'yes': 141.0}, <Invalid Chaid Split> - the max depth has been reached)
    ‚îú‚îÄ‚îÄ (['2nd class'], {'no': 13.0, 'yes': 93.0}, <Invalid Chaid Split> - the max depth has been reached)
    ‚îî‚îÄ‚îÄ (['3rd class'], {'no': 106.0, 'yes': 90.0}, <Invalid Chaid Split> - the max depth has been reached)

In [80]:
#man or women. En man va de que clase es, 2 y 3 estan como iguales. Ahora de women pasa lo mismo.
values_test = X_test.values
y_pred = []
for i in range(0,len(values_test)):
    v = values_test[i]
    if(v[2] == 'man'):
        if(v[1]== '1st class'):
            y_pred.append('no')
        else:
            y_pred.append('no')
    else:
        if(v[1] == '1st class'):
            y_pred.append('yes')
        elif(v[1]== '2nd class'):
            y_pred.append('yes')
        else:
            y_pred.append('no')

In [85]:
y_test2 = y_test.values
from sklearn.metrics import precision_recall_fscore_support
precision_recall_fscore_support(y_test2, y_pred, average='macro')

(0.849537037037037, 0.7193173565722585, 0.7299470899470899, None)